{{ include('include/headers.html.twig')}}
{% form_theme form 'bootstrap_4_layout.html.twig'%}
<link href="{{ asset('') }}" rel="stylesheet" />
<div class ="container">
    <h2>Update Media Details</h2>
        {{form_start(form)}}
        {{form_widget(form)}}
        {{form_end(form)}}
        <img  src="{{absolute_url(asset(''))}}MediaImage/{{media}}" alt="{{media}}" width="10%" height="10%">
</div>