{{ include('include/headers.html.twig')}}
{% form_theme form 'bootstrap_4_layout.html.twig'%}
<link href="{{ asset('') }}" rel="stylesheet" />
<div class ="container">    
    <h3>Update Movies Details</h3>
        {{form_start(form)}}
        {{form_widget(form)}} 
        {{form_end(form)}}
<img  src="{{absolute_url(asset(''))}}MoviesImage/{{movies}}" width="5%" height="5%">
</div>