{% extends "include/userheader.html.twig" %}

{% block title %}
Write Review
{% endblock %}

{% block head %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
<style>
#search{
    width:550px;
    margin-left:30px;
}
.sliding{
    height:400px;
}
body{
  background-color:#d1d1d1
}

</style>
{% endblock %}

{% block nav_items %}
<form class="form-inline" method="post" action="{{path('search_movie')}}">
    <input class="form-control mr-sm-2 " id="search" name="moviename" type="search" placeholder="Search by movie name" aria-label="Search" required>
    <button class="btn btn-outline-light my-2 my-sm-0" name = "submit" type="submit"><i class="fa fa-search"></i></button>
  </form>
{% endblock %}

{% block nav_logout %}
<div class="navbar-text">
    <a href="{{path('logout')}}" class="btn btn-primary " role="button" aria-pressed="true" title="Logout"><i class="fa fa-sign-out"></i>{{fetchUser.name}}</a>
</div>

{% endblock %}

{% block content %}
<div class="container">
<h2 style="margin-top:30px"><b>{{fetchMovie.title}}</b></h2>
    <img src="/upload/{{fetchMovie.poster}}" alt="not found" style="height: 300px; width:200px">
 <form  method="POST" enctype="multipart/form-data">

         <label style="margin-top:20px"><b>Rate this movie</b></label>
        <div id="rateYo"></div>
            <span class="result"></span>
            <input type="hidden" name="rating" required>
        <div>
        <div class="form-group" style="margin-top:20px">
            <label for="exampleFormControlTextarea1"><b><i class="fa fa-pencil"></i>Write review</b></label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="8" name="review" placeholder="Write your review about this movie.." required></textarea>
        </div>

       <button type="submit" class="btn btn-warning" name="submit"><i class="fa fa-plus-circle"></i>Add Review</button>
  </div>
</form>
</div>

  <script>
    $(function () {
 
          $("#rateYo").rateYo({
  
                numStars: 10,
                maxValue: 10,
                spacing: "10px",
                onChange: function (rating, rateYoInstance) {
                  $(this).parent().find('.result').text('Rate : '+rating);
                },
                onSet: function (rating, rateYoInstance) {
 
                  $(this).parent().find('input[name=rating]').val(rating);
             }
    });

});
  </script>

{% endblock %}